<div class="greetings">
  <h1>About</h1>
  <pre>
  При помощи данного сервиса, вы можете сокращать длинну нужной вам ссылки.
  Для начала вам нужно пройти <a href="/users">регистрацию</a>, либо же <a href="/sessions">авторизацию</a>.
  </pre>

</div>