@import 'bootstrap';

.urlshortener{
  color: #2B9EDA;

}

.text_center{
  margin-top: 100px;
  text-align: center;
}

.center{
  margin-left: 380px;
}

.greetings{
  color: #0f5b85;
  text-align: center;
  margin-top: 120px;
}

.registration{
  margin-left: 330px;
  margin-top: 100px;

}

.reg_sub{
  margin-left: 130px;
}

.profile_name{
  margin-left: 780px;

}

.profile_status{
  margin-left: 700px;
}

.auth{
  margin-left: 380px;
  margin-top: 100px;

}

.auth_sub{
  margin-left: 0px;
}